@CHARSET "ISO-8859-1";

/*display:inherit !important ;*/
body{	
	color: black;
	font-size: 20px;
}
a{
	text-decoration: underline;
	color: red;
}

#fotoInfo{
	display:inherit !important ;
	margin-top: 100px;
}
#fotoInfo hgroup{
	background-color: red;
	width: 800px;
	position:relative;
	margin-left: 150px;
	top: -200px;
}

#seccionInfo{
	display:inherit !important ;
	margin-top: 0px;
}

#idiomas{
	display:inherit !important ;
	margin-top: 400px;
}
#idiomas dl dd:nth-child(6){
	width: 400px;
	text-align: left;
}

