@media screen and (min-width: 768px){
	body
	{
		/*forzamos al body a que NO pueda expandirse
		mas alla de 1200px (porque se veria un diseño muy distorsionado),
		si lo hace, lo forzamos a que se centre*/
		max-width: 1200px;
		margin: 0 auto;
	}
	#bienvenida
	{
		display: block;
		width: 25%;
		float: right;
		margin-right: 2%;
		border-bottom: 5px solid grey;
	}
	#bienvenida h2
	{
		color: #434343;
	}
	#bienvenida video
	{
		width: 100%;
	}
	#bienvenida #mensaje-registro,
	#bienvenida #registro
	{
		text-align: center;
	}
	#bienvenida #mensaje-registro
	{
		font-size: 0.8em;
	}
	#bienvenida #registro
	{
		display: block;
		color: white;
		background-color: #22BCE0;
		padding: 0.5em 0;
	}
	#contenido
	{
		width: 70%;
	}
}
@media screen and (max-width: 480px){
	header
	{
		height: 70px;
	}
	header #avatar
	{
		float: left;
		margin: 2% 20% 0 5%;
	}
	header #logo
	{
		display: none;
	}
	header #titulo-header
	{
		width: 100px;
	}
	header #titulo-header>span
	{
		display: none;
	}
	nav#nav-desktop>ul>li:not(#flecha-nav):not(#publicar-nav)
	{
		display: none;
	}
	nav#nav-movile
	{
		display: block;
		position: absolute;
		top: 86px;
		left: 14px;
		z-index: 5;
	}
	nav#nav-movile select
	{
		width: 260px;
		height: 32px;
		text-indent: 25%;
		text-transform: uppercase;
	}
	nav #publicar-nav
	{
		width: 70%;
	}
	nav #publicar-nav a
	{
		float: right;
		padding: 0;
		margin-right: 35px;

	}

}